 
div {
    text-align: center;
    margin: 20px;
  }

  .button {
    background-color: #0530ad;
    color: #fff;
    border: 2px solid #0530ad;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #FFA200;
    color: #0530ad;
    border-color: #FFA200;
  }
  
  .content{
    position: relative;
    margin: auto;
    width: 700px;
    height: 250px;
  animation: slideDown 1s ease-out;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #0530ad; 
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }